In [3]:
# Reconnect to SQLite database (or create it if it doesn't exist)
import sqlite3
import pandas as pd
# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()
# Create the students table
cursor.execute('''
CREATE TABLE students (
    student_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    major TEXT
);
''')
# Create the courses table
cursor.execute('''
CREATE TABLE courses (
    course_id INTEGER PRIMARY KEY,
    course_name TEXT NOT NULL
);
''')
# Create the enrollments table
cursor.execute('''
CREATE TABLE enrollments (
    enrollment_id INTEGER PRIMARY KEY,
    student_id INTEGER,
    course_id INTEGER,
    FOREIGN KEY (student_id) REFERENCES students (student_id),
    FOREIGN KEY (course_id) REFERENCES courses (course_id)
);
''')
# Create the exams table
cursor.execute('''
CREATE TABLE exams (
    exam_id INTEGER PRIMARY KEY,
    enrollment_id INTEGER,
    score INTEGER,
    FOREIGN KEY (enrollment_id) REFERENCES enrollments (enrollment_id)
);
''')

In [2]:
# Create the exams table
import sqlite3
import pandas as pd

In [5]:
# Establish connection to SQLite database (create one if not exists)
conn = sqlite3.connect('mydatabase.db')

# Create a cursor object
cursor = conn.cursor()

In [6]:
# Create the enrollments table
cursor.execute('''
CREATE TABLE enrollments (
    enrollment_id INTEGER PRIMARY KEY,
    student_id INTEGER,
    course_id INTEGER,
    FOREIGN KEY (student_id) REFERENCES students (student_id),
    FOREIGN KEY (course_id) REFERENCES courses (course_id)
);
''')

In [7]:
# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

In [8]:
# Create the students table
cursor.execute('''
CREATE TABLE students (
    student_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    major TEXT
);
''')

In [9]:
# Create the courses table
cursor.execute('''
CREATE TABLE courses (
    course_id INTEGER PRIMARY KEY,
    course_name TEXT NOT NULL
);
''')

In [10]:
# Create the enrollments table
cursor.execute('''
CREATE TABLE enrollments (
    enrollment_id INTEGER PRIMARY KEY,
    student_id INTEGER,
    course_id INTEGER,
    FOREIGN KEY (student_id) REFERENCES students (student_id),
    FOREIGN KEY (course_id) REFERENCES courses (course_id)
);
''')

In [11]:
# Create the exams table
cursor.execute('''
CREATE TABLE exams (
    exam_id INTEGER PRIMARY KEY,
    enrollment_id INTEGER,
    score INTEGER,
    FOREIGN KEY (enrollment_id) REFERENCES enrollments (enrollment_id)
);
''')

In [2]:
import sqlite3
sqlite_db = 'test_db.sqlite'
conn = sqlite3.connect(sqlite_db)
c = conn.cursor()