<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 2.1.1b
# *Data Cleaning with Pandas*

In this lab we work with a file that has messy column names and a combination of missing and invalid data to be cleaned.

To start with load `rock.csv` into a dataframe.

In [41]:
import numpy as np
import pandas as pd

In [42]:
# ANSWER
df = pd.read_csv('C:/Users/Vinitha/Desktop/IOD/DATA/rock.csv')
print(df.head())
print(df.columns)

               Song Clean ARTIST CLEAN Release Year  \
0        Caught Up in You  .38 Special         1982
1            Fantasy Girl  .38 Special          NaN
2         Hold On Loosely  .38 Special         1981
3  Rockin' Into the Night  .38 Special         1980
4       Art For Arts Sake         10cc         1975

                                COMBINED  First?  Year?  PlayCount  F*G
0        Caught Up in You by .38 Special       1      1         82   82
1            Fantasy Girl by .38 Special       1      0          3    0
2         Hold On Loosely by .38 Special       1      1         85   85
3  Rockin' Into the Night by .38 Special       1      1         18   18
4              Art For Arts Sake by 10cc       1      1          1    1
Index(['Song Clean', 'ARTIST CLEAN', 'Release Year', 'COMBINED', 'First?',
       'Year?', 'PlayCount', 'F*G'],
      dtype='object')

### Check Column Names

Check column names and clean by converting all names to lowercase, replacing spaces with underscores (`_`) and removing question marks or asterisk (`*`) characters.

In [55]:
# ANSWER
df.columns = df.columns.str.replace('First?', 'First')

In [60]:
def clean_column_names(df):
   df.columns =  df.columns.str.lower()\
                    .str.replace("_","") \
                    .str.replace("?","") \
                    .str.replace("*","")
   return df
df= clean_column_names(df)
print(df.columns)

Index(['song clean', 'artist clean', 'release year', 'combined', 'first',
       'year', 'playcount', 'fg'],
      dtype='object')

In [44]:
df.columns

Index(['Song Clean', 'ARTIST CLEAN', 'Release Year', 'COMBINED', 'First?',
       'Year?', 'PlayCount', 'F*G'],
      dtype='object')

### Replace Null Values With 0

Check 'release_year' column whether this column has any null values or not. Replace null values with 0.

In [63]:
# ANSWER
print(df["release year"].isnull().sum())
df["release year"] = df["release year"].fillna(0)
print(df["release year"].isnull().sum())

0
0

## Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

In [49]:
# ANSWER
df["release year"] = pd.to_numeric
df.dtypes

Song Clean      object
ARTIST CLEAN    object
Release Year    object
COMBINED        object
First?           int64
Year?            int64
PlayCount        int64
F*G              int64
dtype: object

## Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

In [67]:
# ANSWER
print(("min",df.min(numeric_only = True)),("max",df.max(numeric_only = True)))

('min', first        1
year         0
playcount    0
fg           0
dtype: int64) ('max', first          1
year           1
playcount    142
fg           142
dtype: int64)

## Write Some Functions

### Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

In [ ]:
# ANSWER

### Write a function that converts a column in a DataFrame to a numeric type and otherwise replaces entries with np.nan

In [ ]:
# ANSWER

### Apply this last function to your dataset

In [ ]:
# ANSWER

### 'Describe' the new DataFrame

In [ ]:
# ANSWER

>



---



---



> > > > > > > > > Â© 2024 Institute of Data


---



---