<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 2.1.1
# *Data Wrangling and Munging with Pandas*

In this lab we work through reading in files of a range of formats, then manipulating a dataset to handle missing values and performing data profiling.

## Part 1: Wrangling Data

The term "data wrangling" is analogous to capturing wild horses and getting them into a fenced area; the horses are data and the fencing is your computer. The more common data wrangling tasks include:

- reading flat files
- reading Excel files
- downloading from web pages
  - csv
  - html
  - json

In [1]:
import numpy as np
import pandas as pd

*It is good practice to display the library version numbers for future reference:*

In [2]:
print('Numpy: ', np.__version__)
print('Pandas: ', pd.__version__)

Numpy:  1.26.4
Pandas:  2.2.2

### CSV Files

Below are three attempts to load the file "bikeshare.csv" into a DataFrame named `bikes`. Why are they wrong?

In [3]:
# wrong:
bikes = pd.read_table('C:/Users/Vinitha/Desktop/IOD/DATA/bikeshare.csv', header = None)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('C:/Users/Vinitha/Desktop/IOD/DATA//bikeshare.csv', header = 1)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('C:/Users/Vinitha/Desktop/IOD/DATA/bikeshare.csv', header = 0)
print(bikes.head())

                                                   0
0  instant,dteday,season,yr,mnth,hr,holiday,weekd...
1  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,...
2  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
3  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
4  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...

  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0,3,13,16
0  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
1  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
2  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...
3  5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,...
4  6,2011-01-01,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,...

  instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,...
1  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
2  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
3  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...
4  5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,...

In [42]:
bikes = pd.read_table('C:/Users/Vinitha/Desktop/IOD/DATA/bikeshare.csv',  header = 0, sep = ',')
bikes.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

ANSWER:

Load the file "bikeshare.csv" into a DataFrame named `bikes`, and confirm that it was loaded properly:

In [44]:
#ANSWER:
bike = pd.read_csv('C:/Users/Vinitha/Desktop/IOD/DATA/bikeshare.csv')
bike.shape

(17379, 17)

Note that we could have used `read.csv()` above. `read_table()` is necessary when `sep` is not the comma character, or we need fine control that `read.csv()` does not provide.

Flat files can be full of surprises. Here are some issues to watch out for:

- separator character is something other than the comma
  - ";", "|", and tab are popular
- newline character is something other than what the O/S expects
  - Tip: Don't hard-code the character codes for carriage returns, linefeeds, etc. Use Python's built-in representation instead (e.g. Python translates "\n" to the newline character and "\t" to the tab character on any O/S).
- truncated lines
  - if there are empty fields at the end of a line it is possible that their separators will be missing, resulting in a "jagged" file
- embedded commas or quotes
  - a free-text field containing embedded commas may split into separate fields on input
  - a free-text field containing embedded quotes may not parse correctly
- unescaped characters
  - the "\" character indicates a control code to Python, which will break the I/O
    - e.g. the substring "\u0123" will be interpreted as Unicode(0123) -- which may not be what the file creator intended
  - these may need to be fixed by loading whole strings and then parsing into a new data frame
  
Tip: Most issues can be dealt with by correctly specifying the parameters of the function you use to load the file. Read the doco before reading the data!

### Reading Excel Files

In [6]:
from pandas import ExcelFile  # Nb. Need to install xlrd from conda (it does not automatically install with pandas)

In [45]:
import pandas as pd

# Specify the path to the Excel file and the sheet name
file_path = 'C:/Users/Vinitha/Desktop/IOD/DATA/Iris.xls'
sheet_name = 'Data'

# Read the Excel file into a DataFrame
df = pd.read_excel(file_path, sheet_name='Data')

# Display the first few rows of the DataFrame to verify
print(df.head())

   Species_No  Petal_width  Petal_length  Sepal_width  Sepal_length  \
0           1          0.2           1.4          3.5           5.1
1           1          0.2           1.4          3.0           4.9
2           1          0.2           1.3          3.2           4.7
3           1          0.2           1.5          3.1           4.6
4           1          0.2           1.4          3.6           5.0

  Species_name
0       Setosa
1       Setosa
2       Setosa
3       Setosa
4       Setosa

In [8]:
path = 'C:/Users/Vinitha/Desktop/IOD/DATA/Iris.xls'
sheet = 'Data'
df = pd.read_excel(path, sheet)
print(df.shape)

(150, 6)

It is usually better to load data correctly than to meddle with the source file or load it 'warts and all' and then try to parse it in code. The Pandas functions for reading files have parameters that provide the control we need. For example, we could make multiple calls to `read_excel()`, using combinations of the `header`, `usecols`, `skiprows`, `nrows`, and `skipfooter` parameters to load one table at a time from a spreadsheet with multiple tables.

Load the above file without the unwanted columns:

In [9]:
#ANSWER
df.isnull().sum()

Species_No      0
Petal_width     0
Petal_length    0
Sepal_width     0
Sepal_length    0
Species_name    0
dtype: int64

### Importing Data Directly from the Web

We usually want to store a local copy of a data file that we download from the Web, but when data retention is not a priority it is convenient to download the data directly into our running Python environment.

#### Importing Text Files from the Web

The web is the 'wild west' of data formats. However, we can usually expect good behaviour from files that are automatically generated by a service, such as the earthquake report:

In [88]:
df = pd.read_csv('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_hour.csv')
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2024-07-02T09:17:35.623Z,-35.4177,-179.3869,10,5.1,mb,47,126,2.834,0.54,...,2024-07-02T09:34:14.040Z,east of the North Island of New Zealand,earthquake,9.19,1.83,0.106,29,reviewed,us,us

#### Importing HTML Files from the Web

Working with unstructured HTML files relies heavily on library functions. This one, however, is well-structured:

In [89]:
pip install lxml

Requirement already satisfied: lxml in c:\users\vinitha\anaconda3\envs\iod\lib\site-packages (5.2.2)
Note: you may need to restart the kernel to use updated packages.

In [90]:
url = 'https://www.ccra.com/airport-codes/'

df = pd.read_html(url)
df

[                City      Country Code
 0            Aalborg      Denmark  AAL
 1           Aalesund       Norway  AES
 2             Aarhus      Denmark  AAR
 3     Abbotsford, BC       Canada  YXX
 4           Aberdeen     Scotland  ABZ
 ...              ...          ...  ...
 1573        Zanzibar     Tanzania  ZNZ
 1574        Zaragoza        Spain  ZAZ
 1575       Zhengzhou        China  CGO
 1576        Zhoushan        China  HSN
 1577          Zurich  Switzerland  ZRH

 [1578 rows x 3 columns]]

In [91]:
df[0]

                City      Country Code
0            Aalborg      Denmark  AAL
1           Aalesund       Norway  AES
2             Aarhus      Denmark  AAR
3     Abbotsford, BC       Canada  YXX
4           Aberdeen     Scotland  ABZ
...              ...          ...  ...
1573        Zanzibar     Tanzania  ZNZ
1574        Zaragoza        Spain  ZAZ
1575       Zhengzhou        China  CGO
1576        Zhoushan        China  HSN
1577          Zurich  Switzerland  ZRH

[1578 rows x 3 columns]

#### Importing XML Files from the Web

XML files are semi-structured, but you're at the mercy of the file creator. If every record has the same format it will be much easier, but practical applications often require a lot of custom code. Here are a few examples: https://pandas.pydata.org/docs/user_guide/io.html#io-read-xml

#### Importing JSON Files from the Web

Like XML, JSON files are semi-structured and may require work to capture the schema into a dataframe. Here is a simple example:

In [92]:
url = 'https://microsoftedge.github.io/Demos/json-dummy-data/64KB.json'

# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient = 'columns')
df.head()

,name,language,id,bio,version
0,Adeel Solangi,Sindhi,V59OF92YF627HFY0,Donec lobortis eleifend condimentum. Cras dict...,6.10
1,Afzal Ghaffar,Sindhi,ENTOCR13RSCLZ6KU,"Aliquam sollicitudin ante ligula, eget malesua...",1.88
2,Aamir Solangi,Sindhi,IAKPO3R4761JDRVG,Vestibulum pharetra libero et velit gravida eu...,7.27
3,Abla Dilmurat,Uyghur,5ZVOEPMJUI4MB4EN,Donec lobortis eleifend condimentum. Morbi ac ...,2.53
4,Adil Eli,Uyghur,6VTI8X6LL0MMPJCC,"Vivamus id faucibus velit, id posuere leo. Mor...",6.49

## Part 2: Data Munging

Data munging is manipulating data to get it into a form that we can start running analyses on (which usually means getting the data into a DataFrame). Before we get to this stage, we may need to remove headers or footers, transpose columns to rows, split wide data tables into long ones, and so on. (Nb. Excel files can be particularly troublesome, because users can format their data in mixed, complex shapes.) Essentially, we need to follow Hadley Wickham's guidelines for tidy datasets (http://vita.had.co.nz/papers/tidy-data.html):

The end goal of the cleaning data process:

- each variable should be in one column
- each observation should comprise one row
- each type of observational unit should form one table
- include key columns for linking multiple tables
- the top row contains (sensible) variable names
- in general, save data as one file per table

### Dataset Morphology

Once we have our dataset in a DataFrame (or Series, if our data is only 1-dimensional), we can start examining its size and content.

How many rows and columns are in `bikes`?

In [93]:
#ANSWER
bikes.shape

(17379, 17)

What are the column names in `bikes`?

In [94]:
#ANSWER
bike.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

What are the data types of these columns?

In [95]:
#ANSWER
print(bike.dtypes)

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

What is the (row) index for this DataFrame?

In [96]:
#ANSWER
bike.index

RangeIndex(start=0, stop=17379, step=1)

https://www.dataquest.io/blog/python-json-tutorial/

### Slicing

Slicing refers to extracting part of a Python object such as a list or dataframe.

It is often preferable to refer to DataFrame columns by name, but there is more than one way to do this.
Do `bikes['season']` and `bikes[['season']]` give the same object? Demonstrate:

In [97]:
bike.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [98]:
#ANSWER
bike[['season']]

       season
0           1
1           1
2           1
3           1
4           1
...       ...
17374       1
17375       1
17376       1
17377       1
17378       1

[17379 rows x 1 columns]

How would we use object notation to show the first 4 rows of `atemp`?

In [99]:
#ANSWER
bike['atemp'].head(4)

0    0.2879
1    0.2727
2    0.2727
3    0.2879
Name: atemp, dtype: float64

In [100]:
bike.loc[:3, 'atemp']

0    0.2879
1    0.2727
2    0.2727
3    0.2879
Name: atemp, dtype: float64

Algorithms that loop over multiple columns often access DataFrame columns by index. However, none of the following work (try them out by uncommenting / removing the "#E: " ):

In [101]:
#bike[[0]]
#bike[0]
#bike[0,0]
#bike[[0,0]]

What is the correct way to access the 1st row of the DataFrame by its index?

In [102]:
#ANSWER
bike[:1]

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16

What is the correct way to access the 2nd column of the DataFrame by its index?

In [103]:
bike.iloc[:4,]

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13

In [104]:
#ANSWER
bike.iloc[:,1]

0        2011-01-01
1        2011-01-01
2        2011-01-01
3        2011-01-01
4        2011-01-01
            ...
17374    2012-12-31
17375    2012-12-31
17376    2012-12-31
17377    2012-12-31
17378    2012-12-31
Name: dteday, Length: 17379, dtype: object

### Handling Missing Values

What is the Pandas `isnull` function for?

?
ANSWER:

We can apply `isnull` to the `bikes` DataFrame to show the result for every element:

In [105]:
bike.isnull().head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

However, we usually start at a higher level. How many nulls are in `bikes` altogether?

In [106]:
#ANSWER
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

If this result were nonzero we would next want to find out which columns contained nulls. How can this be done in one line of code?

In [107]:
bike.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [108]:
#ANSWER
bike["windspeed"].isnull().sum()

0

What is the Numpy object `nan` used for? (Write a descriptive answer.)

?
ANSWER:

Write (and verify) a function that performs scalar division with built-in handling of the edge case (i.e. return a value instead of just trapping the error):

In [109]:
#ANSWER
def divide(dividend, divisor):
    if divisor ==0:
        quotient = np.nan
    else: 
        divisor == dividend/divisor
        return (quotient)
print(divide(1,0))

None

Apply the Pandas `isna` function to the following data objects:

In [110]:
x = 2.3
y = np.nan
print(x, y)

2.3 nan

In [111]:
#ANSWER
print(pd.isna(x),pd.isna(y))

False True

In [112]:
array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
print(array)

[[ 1. nan  3.]
 [ 4.  5. nan]]

In [58]:
#ANSWER
print(pd.isna(array))

[[False  True False]
 [False False  True]]

How is the pandas I/O parameter `na_values` used?

? ANSWER:

### Data Profiling

#### Counts

When there are categorical variables in a dataset we will want to know how many possible values there are in each column. (Nb. If the dataset is a sample of a larger one, our sample may not capture all possible values of every categorical.)

How many (different) seasons are in `bikes`?

In [60]:
#ANSWER
bikes["season"].value_counts()

season
3    4496
2    4409
1    4242
4    4232
Name: count, dtype: int64

#### Ranges

Print the range of the `instant`, `dteday`, and `windspeed` columns:

In [117]:
#ANSWER
print("instant:" ,bikes["instant"].min() , " to" , bikes["instant"].max())
print("dteday:" ,bikes["dteday"].min() , " to" , bikes["dteday"].max())
print("windspeed:" ,bikes["windspeed"].min() , " to" , bikes["windspeed"].max())

instant: 1  to 17379
dteday: 2011-01-01  to 2012-12-31
windspeed: 0.0  to 0.8507

Compute and print the overall minimum and maximum of the numeric data columns:

In [118]:
bikes_min, bikes_max = (min(bikes.min(numeric_only = True)), max(bikes.max(numeric_only = True)))
bikes_min, bikes_max

(0.0, 17379.0)

#### Quantiles

Pandas makes computing quantiles easy. This is how to get the median of a Series:

In [119]:
bikes['atemp'].quantile(0.5)

0.4848

In [121]:
bikes['atemp'].median()

0.4848

In [127]:
bikes['atemp'].quantile((0.1, 0.25, 0.5, 0.75, 0.9))

0.10    0.2424
0.25    0.3333
0.50    0.4848
0.75    0.6212
0.90    0.6970
Name: atemp, dtype: float64

Of course, the `quantiles` method can take a tuple as its argument. Compute the 10th, 25th, 50th, 75th, and 90th percentiles in one line of code:

In [126]:
#ANSWER
q1 = bikes['atemp'].quantile(0.10)  
q2 = bikes['atemp'].quantile(0.25)  
q3 = bikes['atemp'].quantile(0.50)  
q4 = bikes['atemp'].quantile(0.75)   
q5 = bikes['atemp'].quantile(0.90) 

print(f"10th percentile (quantile 0.10): {q1}")
print(f"25th percentile (quantile 0.25): {q2}")
print(f"50th percentile (quantile 0.50): {q3}")
print(f"75th percentile (quantile 0.75): {q4}")
print(f"90th percentile (quantile 0.90): {q5}")

10th percentile (quantile 0.10): 0.2424
25th percentile (quantile 0.25): 0.3333
50th percentile (quantile 0.50): 0.4848
75th percentile (quantile 0.75): 0.6212
90th percentile (quantile 0.90): 0.697

#### Cuts

Sometimes we want to split the sample not by the quantiles of the distribution but by the range of the data. Let's take a closer look at `atemp`:

In [128]:
type(bikes['atemp'])

pandas.core.series.Series

In [129]:
bikes.sample(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
13717,13718,2012-07-30,3,1,7,18,0,1,1,1,0.76,0.7121,0.58,0.4179,77,735,812
6401,6402,2011-09-29,4,0,9,7,0,4,1,1,0.60,0.5455,0.88,0.1343,14,269,283
7334,7335,2011-11-07,4,0,11,5,0,1,1,1,0.30,0.3333,0.93,0.0000,1,25,26
11441,11442,2012-04-26,2,1,4,22,0,4,1,1,0.52,0.5000,0.83,0.1642,20,163,183
6408,6409,2011-09-29,4,0,9,14,0,4,1,1,0.68,0.6364,0.51,0.2985,33,134,167

Suppose we decide to sort these values into 4 bins of equal width, but we want to apply the resulting groups to the entire DataFrame. Basically, we need to add a row label that indicates which bin each sample belongs in. Let's call this label "atemp_level", and use the `cut` method to populate it:

In [139]:
atemp_level = pd.cut(bikes['atemp'], bins = 4)

What is `atemp_level`?

In [140]:
#ANSWER
print(bikes.head())

   instant      dteday  season  yr  mnth  hr  holiday  weekday  workingday  \
0        1  2011-01-01       1   0     1   0        0        6           0
1        2  2011-01-01       1   0     1   1        0        6           0
2        3  2011-01-01       1   0     1   2        0        6           0
3        4  2011-01-01       1   0     1   3        0        6           0
4        5  2011-01-01       1   0     1   4        0        6           0

   weathersit  temp   atemp   hum  windspeed  casual  registered  cnt
0           1  0.24  0.2879  0.81        0.0       3          13   16
1           1  0.22  0.2727  0.80        0.0       8          32   40
2           1  0.22  0.2727  0.80        0.0       5          27   32
3           1  0.24  0.2879  0.75        0.0       3          10   13
4           1  0.24  0.2879  0.75        0.0       0           1    1

Here is a random sample of `atemp_level`:

In [141]:
atemp_level.unique()

[(0.25, 0.5], (-0.001, 0.25], (0.5, 0.75], (0.75, 1.0]]
Categories (4, interval[float64, right]): [(-0.001, 0.25] < (0.25, 0.5] < (0.5, 0.75] < (0.75, 1.0]]

So, by default, `cut` produces labels that indicate the bin boundaries for each element in the series it was applied to. Usually, we will specify labels that are appropriate to the discretisation we are applying:

In [152]:
atemp_level = pd.cut(bikes['atemp'], bins = 4, labels = ["cool", "mild", "warm", "hot"])
atemp_level.unique()

['mild', 'cool', 'warm', 'hot']
Categories (4, object): ['cool' < 'mild' < 'warm' < 'hot']

Incorporate the new `atemp_level` column into the `bikes` DataFrame and use it to count the number of "mild" `atemp` entries in `season` 2:

In [150]:
#ANSWER
bikes['atemp_level'] = atemp_level
bikes[(bikes.atemp_level == 'mild') & (bikes.season == 2)].season.count()  # Nb. could have used any column before count() in this case

1829

In [153]:
bikes[(bikes.atemp_level == 'mild') & (bikes.season == 2)].season.count()

1829

In [161]:
bikes[(bikes.atemp_level == 'hot') & (bikes.season == 2)].mnth.count()

98

*Nb. The `atemp_level` variable we created is what the R language calls a "factor". Pandas has introduced a new data type called "category" that is similar to R's factors.*

>



---



---



> > > > > > > > > © 2024 Institute of Data


---



---